#!/bin/bash
function free_port {
python - <<END
import socket
s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
s.bind(('', 0))
addr = s.getsockname()
print addr[1]
s.close()
END
}

if [ ! -f /etc/nginx/conf.d/{{ dclient }}.conf ]
then
    echo $(free_port)
else
    grep -oP '(?<=proxy_pass http://127.0.0.1:).*?(?=;)' /etc/nginx/conf.d/{{ dclient }}.conf
fi
